openapi: 3.0.1
info:
  title: Partial Graph API
  version: v1.0
servers:
  - url: https://graph.microsoft.com/v1.0/
    description: Core
paths:
  /chats:
    get:
      tags:
        - chats.chat
      summary: List chats
      description: 'Retrieve the list of chats that the user is part of. This method supports federation. When a user ID is provided, the calling application must belong to the same tenant that the user belongs to.'
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/chat-list?view=graph-rest-1.0
      operationId: chats.chat_ListChat
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - chatType
                - chatType desc
                - createdDateTime
                - createdDateTime desc
                - lastUpdatedDateTime
                - lastUpdatedDateTime desc
                - onlineMeetingInfo
                - onlineMeetingInfo desc
                - tenantId
                - tenantId desc
                - topic
                - topic desc
                - viewpoint
                - viewpoint desc
                - webUrl
                - webUrl desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - chatType
                - createdDateTime
                - lastUpdatedDateTime
                - onlineMeetingInfo
                - tenantId
                - topic
                - viewpoint
                - webUrl
                - installedApps
                - lastMessagePreview
                - members
                - messages
                - pinnedMessages
                - tabs
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - installedApps
                - lastMessagePreview
                - members
                - messages
                - pinnedMessages
                - tabs
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.chatCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - chats.chat
      summary: Create chat
      description: Create a new chat object.
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/chat-post?view=graph-rest-1.0
      operationId: chats.chat_CreateChat
      requestBody:
        description: New entity
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.chat'
        required: true
      responses:
        '201':
          description: Created entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.chat'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/chats/{chat-id}':
    get:
      tags:
        - chats.chat
      summary: Get chat
      description: 'Retrieve a single chat (without its messages). This method supports federation. To access a chat, at least one chat member must belong to the tenant the request initiated from.'
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/chat-get?view=graph-rest-1.0
      operationId: chats.chat_GetChat
      parameters:
        - name: chat-id
          in: path
          description: 'key: id of chat'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: chat
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - chatType
                - createdDateTime
                - lastUpdatedDateTime
                - onlineMeetingInfo
                - tenantId
                - topic
                - viewpoint
                - webUrl
                - installedApps
                - lastMessagePreview
                - members
                - messages
                - pinnedMessages
                - tabs
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - installedApps
                - lastMessagePreview
                - members
                - messages
                - pinnedMessages
                - tabs
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.chat'
          links:
            installedApps:
              operationId: chats.ListInstalledApps
              parameters:
                chat-id: $request.path.chat-id
            lastMessagePreview:
              operationId: chats.GetLastMessagePreview
              parameters:
                chat-id: $request.path.chat-id
            members:
              operationId: chats.ListMembers
              parameters:
                chat-id: $request.path.chat-id
            messages:
              operationId: chats.ListMessages
              parameters:
                chat-id: $request.path.chat-id
            pinnedMessages:
              operationId: chats.ListPinnedMessages
              parameters:
                chat-id: $request.path.chat-id
            tabs:
              operationId: chats.ListTabs
              parameters:
                chat-id: $request.path.chat-id
            hideForUser:
              operationId: chats.chat.hideForUser
            markChatReadForUser:
              operationId: chats.chat.markChatReadForUser
            markChatUnreadForUser:
              operationId: chats.chat.markChatUnreadForUser
            sendActivityNotification:
              operationId: chats.chat.sendActivityNotification
            unhideForUser:
              operationId: chats.chat.unhideForUser
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - chats.chat
      summary: Update chat
      description: Update the properties of a chat object.
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/chat-patch?view=graph-rest-1.0
      operationId: chats.chat_UpdateChat
      parameters:
        - name: chat-id
          in: path
          description: 'key: id of chat'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: chat
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.chat'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - chats.chat
      summary: Delete entity from chats
      operationId: chats.chat_DeleteChat
      parameters:
        - name: chat-id
          in: path
          description: 'key: id of chat'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: chat
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/chats/{chat-id}/messages':
    get:
      tags:
        - chats.chatMessage
      summary: List messages in a chat
      description: 'Retrieve the list of messages in a chat. This method supports federation. To list chat messages in application context, the request must be made from the tenant that the channel owner belongs to (represented by the **tenantId** property on the channel).'
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/chat-list-messages?view=graph-rest-1.0
      operationId: chats_ListMessages
      parameters:
        - name: chat-id
          in: path
          description: 'key: id of chat'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: chat
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - attachments
                - attachments desc
                - body
                - body desc
                - channelIdentity
                - channelIdentity desc
                - chatId
                - chatId desc
                - createdDateTime
                - createdDateTime desc
                - deletedDateTime
                - deletedDateTime desc
                - etag
                - etag desc
                - eventDetail
                - eventDetail desc
                - from
                - from desc
                - importance
                - importance desc
                - lastEditedDateTime
                - lastEditedDateTime desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - locale
                - locale desc
                - mentions
                - mentions desc
                - messageType
                - messageType desc
                - policyViolation
                - policyViolation desc
                - reactions
                - reactions desc
                - replyToId
                - replyToId desc
                - subject
                - subject desc
                - summary
                - summary desc
                - webUrl
                - webUrl desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - attachments
                - body
                - channelIdentity
                - chatId
                - createdDateTime
                - deletedDateTime
                - etag
                - eventDetail
                - from
                - importance
                - lastEditedDateTime
                - lastModifiedDateTime
                - locale
                - mentions
                - messageType
                - policyViolation
                - reactions
                - replyToId
                - subject
                - summary
                - webUrl
                - hostedContents
                - replies
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - hostedContents
                - replies
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.chatMessageCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - chats.chatMessage
      summary: Send chatMessage in a channel or a chat
      description: Send a new chatMessage in the specified channel or a chat.
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/chatmessage-post?view=graph-rest-1.0
      operationId: chats_CreateMessages
      parameters:
        - name: chat-id
          in: path
          description: 'key: id of chat'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: chat
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.chatMessage'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.chatMessage'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/chats/{chat-id}/messages/{chatMessage-id}':
    get:
      tags:
        - chats.chatMessage
      summary: Get messages from chats
      description: A collection of all the messages in the chat. Nullable.
      operationId: chats_GetMessages
      parameters:
        - name: chat-id
          in: path
          description: 'key: id of chat'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: chat
        - name: chatMessage-id
          in: path
          description: 'key: id of chatMessage'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: chatMessage
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - attachments
                - body
                - channelIdentity
                - chatId
                - createdDateTime
                - deletedDateTime
                - etag
                - eventDetail
                - from
                - importance
                - lastEditedDateTime
                - lastModifiedDateTime
                - locale
                - mentions
                - messageType
                - policyViolation
                - reactions
                - replyToId
                - subject
                - summary
                - webUrl
                - hostedContents
                - replies
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - hostedContents
                - replies
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.chatMessage'
          links:
            hostedContents:
              operationId: chats.Messages.ListHostedContents
              parameters:
                chat-id: $request.path.chat-id
                chatMessage-id: $request.path.chatMessage-id
            replies:
              operationId: chats.Messages.ListReplies
              parameters:
                chat-id: $request.path.chat-id
                chatMessage-id: $request.path.chatMessage-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - chats.chatMessage
      summary: Update the navigation property messages in chats
      operationId: chats_UpdateMessages
      parameters:
        - name: chat-id
          in: path
          description: 'key: id of chat'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: chat
        - name: chatMessage-id
          in: path
          description: 'key: id of chatMessage'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: chatMessage
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.chatMessage'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - chats.chatMessage
      summary: Delete navigation property messages for chats
      operationId: chats_DeleteMessages
      parameters:
        - name: chat-id
          in: path
          description: 'key: id of chat'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: chat
        - name: chatMessage-id
          in: path
          description: 'key: id of chatMessage'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: chatMessage
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/chats/{chat-id}/messages/{chatMessage-id}/hostedContents':
    get:
      tags:
        - chats.chatMessage
      summary: List hostedContents
      description: 'Retrieve the list of chatMessageHostedContent objects from a message. This API only lists the hosted content objects. To get the content bytes, see get chatmessage hosted content'
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/chatmessage-list-hostedcontents?view=graph-rest-1.0
      operationId: chats.messages_ListHostedContents
      parameters:
        - name: chat-id
          in: path
          description: 'key: id of chat'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: chat
        - name: chatMessage-id
          in: path
          description: 'key: id of chatMessage'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: chatMessage
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - contentBytes
                - contentBytes desc
                - contentType
                - contentType desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - contentBytes
                - contentType
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.chatMessageHostedContentCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - chats.chatMessage
      summary: Create new navigation property to hostedContents for chats
      operationId: chats.messages_CreateHostedContents
      parameters:
        - name: chat-id
          in: path
          description: 'key: id of chat'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: chat
        - name: chatMessage-id
          in: path
          description: 'key: id of chatMessage'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: chatMessage
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.chatMessageHostedContent'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.chatMessageHostedContent'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/chats/{chat-id}/messages/{chatMessage-id}/hostedContents/{chatMessageHostedContent-id}':
    get:
      tags:
        - chats.chatMessage
      summary: Get hostedContents from chats
      description: 'Content in a message hosted by Microsoft Teams - for example, images or code snippets.'
      operationId: chats.messages_GetHostedContents
      parameters:
        - name: chat-id
          in: path
          description: 'key: id of chat'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: chat
        - name: chatMessage-id
          in: path
          description: 'key: id of chatMessage'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: chatMessage
        - name: chatMessageHostedContent-id
          in: path
          description: 'key: id of chatMessageHostedContent'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: chatMessageHostedContent
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - contentBytes
                - contentType
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.chatMessageHostedContent'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - chats.chatMessage
      summary: Update the navigation property hostedContents in chats
      operationId: chats.messages_UpdateHostedContents
      parameters:
        - name: chat-id
          in: path
          description: 'key: id of chat'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: chat
        - name: chatMessage-id
          in: path
          description: 'key: id of chatMessage'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: chatMessage
        - name: chatMessageHostedContent-id
          in: path
          description: 'key: id of chatMessageHostedContent'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: chatMessageHostedContent
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.chatMessageHostedContent'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - chats.chatMessage
      summary: Delete navigation property hostedContents for chats
      operationId: chats.messages_DeleteHostedContents
      parameters:
        - name: chat-id
          in: path
          description: 'key: id of chat'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: chat
        - name: chatMessage-id
          in: path
          description: 'key: id of chatMessage'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: chatMessage
        - name: chatMessageHostedContent-id
          in: path
          description: 'key: id of chatMessageHostedContent'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: chatMessageHostedContent
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/chats/{chat-id}/messages/{chatMessage-id}/replies':
    get:
      tags:
        - chats.chatMessage
      summary: List replies
      description: 'List all the replies to a message in a channel of a team. This method lists only the replies of the specified message, if any. To get the message itself, simply call get channel message.'
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/chatmessage-list-replies?view=graph-rest-1.0
      operationId: chats.messages_ListReplies
      parameters:
        - name: chat-id
          in: path
          description: 'key: id of chat'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: chat
        - name: chatMessage-id
          in: path
          description: 'key: id of chatMessage'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: chatMessage
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - attachments
                - attachments desc
                - body
                - body desc
                - channelIdentity
                - channelIdentity desc
                - chatId
                - chatId desc
                - createdDateTime
                - createdDateTime desc
                - deletedDateTime
                - deletedDateTime desc
                - etag
                - etag desc
                - eventDetail
                - eventDetail desc
                - from
                - from desc
                - importance
                - importance desc
                - lastEditedDateTime
                - lastEditedDateTime desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - locale
                - locale desc
                - mentions
                - mentions desc
                - messageType
                - messageType desc
                - policyViolation
                - policyViolation desc
                - reactions
                - reactions desc
                - replyToId
                - replyToId desc
                - subject
                - subject desc
                - summary
                - summary desc
                - webUrl
                - webUrl desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - attachments
                - body
                - channelIdentity
                - chatId
                - createdDateTime
                - deletedDateTime
                - etag
                - eventDetail
                - from
                - importance
                - lastEditedDateTime
                - lastModifiedDateTime
                - locale
                - mentions
                - messageType
                - policyViolation
                - reactions
                - replyToId
                - subject
                - summary
                - webUrl
                - hostedContents
                - replies
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - hostedContents
                - replies
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.chatMessageCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - chats.chatMessage
      summary: Reply to a message in a channel
      description: Create a new reply to a chatMessage in a specified channel.
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/channel-post-messagereply?view=graph-rest-1.0
      operationId: chats.messages_CreateReplies
      parameters:
        - name: chat-id
          in: path
          description: 'key: id of chat'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: chat
        - name: chatMessage-id
          in: path
          description: 'key: id of chatMessage'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: chatMessage
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.chatMessage'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.chatMessage'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/chats/{chat-id}/messages/{chatMessage-id}/replies/{chatMessage-id1}':
    get:
      tags:
        - chats.chatMessage
      summary: Get replies from chats
      description: Replies for a specified message. Supports $expand for channel messages.
      operationId: chats.messages_GetReplies
      parameters:
        - name: chat-id
          in: path
          description: 'key: id of chat'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: chat
        - name: chatMessage-id
          in: path
          description: 'key: id of chatMessage'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: chatMessage
        - name: chatMessage-id1
          in: path
          description: 'key: id of chatMessage'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: chatMessage
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - attachments
                - body
                - channelIdentity
                - chatId
                - createdDateTime
                - deletedDateTime
                - etag
                - eventDetail
                - from
                - importance
                - lastEditedDateTime
                - lastModifiedDateTime
                - locale
                - mentions
                - messageType
                - policyViolation
                - reactions
                - replyToId
                - subject
                - summary
                - webUrl
                - hostedContents
                - replies
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - hostedContents
                - replies
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.chatMessage'
          links:
            hostedContents:
              operationId: chats.messages.Replies.ListHostedContents
              parameters:
                chat-id: $request.path.chat-id
                chatMessage-id: $request.path.chatMessage-id
                chatMessage-id1: $request.path.chatMessage-id1
            replies:
              operationId: chats.messages.Replies.ListReplies
              parameters:
                chat-id: $request.path.chat-id
                chatMessage-id: $request.path.chatMessage-id
                chatMessage-id1: $request.path.chatMessage-id1
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - chats.chatMessage
      summary: Update the navigation property replies in chats
      operationId: chats.messages_UpdateReplies
      parameters:
        - name: chat-id
          in: path
          description: 'key: id of chat'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: chat
        - name: chatMessage-id
          in: path
          description: 'key: id of chatMessage'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: chatMessage
        - name: chatMessage-id1
          in: path
          description: 'key: id of chatMessage'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: chatMessage
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.chatMessage'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - chats.chatMessage
      summary: Delete navigation property replies for chats
      operationId: chats.messages_DeleteReplies
      parameters:
        - name: chat-id
          in: path
          description: 'key: id of chat'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: chat
        - name: chatMessage-id
          in: path
          description: 'key: id of chatMessage'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: chatMessage
        - name: chatMessage-id1
          in: path
          description: 'key: id of chatMessage'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: chatMessage
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/chats/{chat-id}/messages/{chatMessage-id}/replies/{chatMessage-id1}/hostedContents':
    get:
      tags:
        - chats.chatMessage
      summary: List hostedContents
      description: 'Retrieve the list of chatMessageHostedContent objects from a message. This API only lists the hosted content objects. To get the content bytes, see get chatmessage hosted content'
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/chatmessage-list-hostedcontents?view=graph-rest-1.0
      operationId: chats.messages.replies_ListHostedContents
      parameters:
        - name: chat-id
          in: path
          description: 'key: id of chat'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: chat
        - name: chatMessage-id
          in: path
          description: 'key: id of chatMessage'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: chatMessage
        - name: chatMessage-id1
          in: path
          description: 'key: id of chatMessage'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: chatMessage
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - contentBytes
                - contentBytes desc
                - contentType
                - contentType desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - contentBytes
                - contentType
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.chatMessageHostedContentCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - chats.chatMessage
      summary: Create new navigation property to hostedContents for chats
      operationId: chats.messages.replies_CreateHostedContents
      parameters:
        - name: chat-id
          in: path
          description: 'key: id of chat'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: chat
        - name: chatMessage-id
          in: path
          description: 'key: id of chatMessage'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: chatMessage
        - name: chatMessage-id1
          in: path
          description: 'key: id of chatMessage'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: chatMessage
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.chatMessageHostedContent'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.chatMessageHostedContent'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/chats/{chat-id}/messages/{chatMessage-id}/replies/{chatMessage-id1}/hostedContents/{chatMessageHostedContent-id}':
    get:
      tags:
        - chats.chatMessage
      summary: Get hostedContents from chats
      description: 'Content in a message hosted by Microsoft Teams - for example, images or code snippets.'
      operationId: chats.messages.replies_GetHostedContents
      parameters:
        - name: chat-id
          in: path
          description: 'key: id of chat'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: chat
        - name: chatMessage-id
          in: path
          description: 'key: id of chatMessage'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: chatMessage
        - name: chatMessage-id1
          in: path
          description: 'key: id of chatMessage'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: chatMessage
        - name: chatMessageHostedContent-id
          in: path
          description: 'key: id of chatMessageHostedContent'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: chatMessageHostedContent
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - contentBytes
                - contentType
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.chatMessageHostedContent'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - chats.chatMessage
      summary: Update the navigation property hostedContents in chats
      operationId: chats.messages.replies_UpdateHostedContents
      parameters:
        - name: chat-id
          in: path
          description: 'key: id of chat'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: chat
        - name: chatMessage-id
          in: path
          description: 'key: id of chatMessage'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: chatMessage
        - name: chatMessage-id1
          in: path
          description: 'key: id of chatMessage'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: chatMessage
        - name: chatMessageHostedContent-id
          in: path
          description: 'key: id of chatMessageHostedContent'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: chatMessageHostedContent
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.chatMessageHostedContent'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - chats.chatMessage
      summary: Delete navigation property hostedContents for chats
      operationId: chats.messages.replies_DeleteHostedContents
      parameters:
        - name: chat-id
          in: path
          description: 'key: id of chat'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: chat
        - name: chatMessage-id
          in: path
          description: 'key: id of chatMessage'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: chatMessage
        - name: chatMessage-id1
          in: path
          description: 'key: id of chatMessage'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: chatMessage
        - name: chatMessageHostedContent-id
          in: path
          description: 'key: id of chatMessageHostedContent'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: chatMessageHostedContent
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /me:
    get:
      tags:
        - me.user
      summary: Get a user
      description: Retrieve the properties and relationships of user object.
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/user-get?view=graph-rest-1.0
      operationId: me.user_GetUser
      parameters:
        - name: ConsistencyLevel
          in: header
          description: 'Indicates the requested consistency level. Documentation URL: https://docs.microsoft.com/graph/aad-advanced-queries'
          style: simple
          schema:
            type: string
          examples:
            example-1:
              description: $search and $count queries require the client to set the ConsistencyLevel HTTP header to 'eventual'.
              value: eventual
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - accountEnabled
                - ageGroup
                - assignedLicenses
                - assignedPlans
                - authorizationInfo
                - businessPhones
                - city
                - companyName
                - consentProvidedForMinor
                - country
                - createdDateTime
                - creationType
                - department
                - displayName
                - employeeHireDate
                - employeeId
                - employeeOrgData
                - employeeType
                - externalUserState
                - externalUserStateChangeDateTime
                - faxNumber
                - givenName
                - identities
                - imAddresses
                - isResourceAccount
                - jobTitle
                - lastPasswordChangeDateTime
                - legalAgeGroupClassification
                - licenseAssignmentStates
                - mail
                - mailNickname
                - mobilePhone
                - officeLocation
                - onPremisesDistinguishedName
                - onPremisesDomainName
                - onPremisesExtensionAttributes
                - onPremisesImmutableId
                - onPremisesLastSyncDateTime
                - onPremisesProvisioningErrors
                - onPremisesSamAccountName
                - onPremisesSecurityIdentifier
                - onPremisesSyncEnabled
                - onPremisesUserPrincipalName
                - otherMails
                - passwordPolicies
                - passwordProfile
                - postalCode
                - preferredDataLocation
                - preferredLanguage
                - provisionedPlans
                - proxyAddresses
                - securityIdentifier
                - showInAddressList
                - signInSessionsValidFromDateTime
                - state
                - streetAddress
                - surname
                - usageLocation
                - userPrincipalName
                - userType
                - mailboxSettings
                - deviceEnrollmentLimit
                - aboutMe
                - birthday
                - hireDate
                - interests
                - mySite
                - pastProjects
                - preferredName
                - responsibilities
                - schools
                - skills
                - appRoleAssignments
                - createdObjects
                - directReports
                - licenseDetails
                - manager
                - memberOf
                - oauth2PermissionGrants
                - ownedDevices
                - ownedObjects
                - registeredDevices
                - scopedRoleMemberOf
                - transitiveMemberOf
                - calendar
                - calendarGroups
                - calendars
                - calendarView
                - contactFolders
                - contacts
                - events
                - inferenceClassification
                - mailFolders
                - messages
                - outlook
                - people
                - drive
                - drives
                - followedSites
                - extensions
                - agreementAcceptances
                - managedDevices
                - managedAppRegistrations
                - deviceManagementTroubleshootingEvents
                - planner
                - insights
                - settings
                - onenote
                - photo
                - photos
                - activities
                - onlineMeetings
                - presence
                - authentication
                - chats
                - joinedTeams
                - teamwork
                - todo
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - appRoleAssignments
                - createdObjects
                - directReports
                - licenseDetails
                - manager
                - memberOf
                - oauth2PermissionGrants
                - ownedDevices
                - ownedObjects
                - registeredDevices
                - scopedRoleMemberOf
                - transitiveMemberOf
                - calendar
                - calendarGroups
                - calendars
                - calendarView
                - contactFolders
                - contacts
                - events
                - inferenceClassification
                - mailFolders
                - messages
                - outlook
                - people
                - drive
                - drives
                - followedSites
                - extensions
                - agreementAcceptances
                - managedDevices
                - managedAppRegistrations
                - deviceManagementTroubleshootingEvents
                - planner
                - insights
                - settings
                - onenote
                - photo
                - photos
                - activities
                - onlineMeetings
                - presence
                - authentication
                - chats
                - joinedTeams
                - teamwork
                - todo
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.user'
          links:
            appRoleAssignments:
              operationId: me.ListAppRoleAssignments
            createdObjects:
              operationId: me.ListCreatedObjects
            directReports:
              operationId: me.ListDirectReports
            licenseDetails:
              operationId: me.ListLicenseDetails
            manager:
              operationId: me.GetManager
            memberOf:
              operationId: me.ListMemberOf
            oauth2PermissionGrants:
              operationId: me.ListOauth2PermissionGrants
            ownedDevices:
              operationId: me.ListOwnedDevices
            ownedObjects:
              operationId: me.ListOwnedObjects
            registeredDevices:
              operationId: me.ListRegisteredDevices
            scopedRoleMemberOf:
              operationId: me.ListScopedRoleMemberOf
            transitiveMemberOf:
              operationId: me.ListTransitiveMemberOf
            calendar:
              operationId: me.GetCalendar
            calendarGroups:
              operationId: me.ListCalendarGroups
            calendars:
              operationId: me.ListCalendars
            calendarView:
              operationId: me.ListCalendarView
            contactFolders:
              operationId: me.ListContactFolders
            contacts:
              operationId: me.ListContacts
            events:
              operationId: me.ListEvents
            inferenceClassification:
              operationId: me.GetInferenceClassification
            mailFolders:
              operationId: me.ListMailFolders
            messages:
              operationId: me.ListMessages
            outlook:
              operationId: me.GetOutlook
            people:
              operationId: me.ListPeople
            drive:
              operationId: me.GetDrive
            drives:
              operationId: me.ListDrives
            followedSites:
              operationId: me.ListFollowedSites
            extensions:
              operationId: me.ListExtensions
            agreementAcceptances:
              operationId: me.ListAgreementAcceptances
            managedDevices:
              operationId: me.ListManagedDevices
            managedAppRegistrations:
              operationId: me.ListManagedAppRegistrations
            deviceManagementTroubleshootingEvents:
              operationId: me.ListDeviceManagementTroubleshootingEvents
            planner:
              operationId: me.GetPlanner
            insights:
              operationId: me.GetInsights
            settings:
              operationId: me.GetSettings
            onenote:
              operationId: me.GetOnenote
            photo:
              operationId: me.GetPhoto
            photos:
              operationId: me.ListPhotos
            activities:
              operationId: me.ListActivities
            onlineMeetings:
              operationId: me.ListOnlineMeetings
            presence:
              operationId: me.GetPresence
            authentication:
              operationId: me.GetAuthentication
            chats:
              operationId: me.ListChats
            joinedTeams:
              operationId: me.ListJoinedTeams
            teamwork:
              operationId: me.GetTeamwork
            todo:
              operationId: me.GetTodo
            assignLicense:
              operationId: me.assignLicense
            changePassword:
              operationId: me.changePassword
            checkMemberGroups:
              operationId: me.checkMemberGroups
            checkMemberObjects:
              operationId: me.checkMemberObjects
            exportPersonalData:
              operationId: me.exportPersonalData
            findMeetingTimes:
              operationId: me.findMeetingTimes
            getMailTips:
              operationId: me.getMailTips
            getManagedAppDiagnosticStatuses:
              operationId: me.getManagedAppDiagnosticStatuses
            getManagedAppPolicies:
              operationId: me.getManagedAppPolicies
            getMemberGroups:
              operationId: me.getMemberGroups
            getMemberObjects:
              operationId: me.getMemberObjects
            reminderView:
              operationId: me.reminderView
            removeAllDevicesFromManagement:
              operationId: me.removeAllDevicesFromManagement
            reprocessLicenseAssignment:
              operationId: me.reprocessLicenseAssignment
            restore:
              operationId: me.restore
            revokeSignInSessions:
              operationId: me.revokeSignInSessions
            sendMail:
              operationId: me.sendMail
            translateExchangeIds:
              operationId: me.translateExchangeIds
            wipeManagedAppRegistrationsByDeviceTag:
              operationId: me.wipeManagedAppRegistrationsByDeviceTag
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - me.user
      summary: Update user
      description: Update the properties of a user object. Not all properties can be updated by Member or Guest users with their default permissions without Administrator roles. Compare member and guest default permissions to see properties they can manage.
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/user-update?view=graph-rest-1.0
      operationId: me.user_UpdateUser
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.user'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/me/authentication/methods/{authenticationMethod-id}/microsoft.graph.resetPassword':
    post:
      tags:
        - me.Actions
      summary: Invoke action resetPassword
      operationId: me.authentication.methods_resetPassword
      parameters:
        - name: authenticationMethod-id
          in: path
          description: 'key: id of authenticationMethod'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: authenticationMethod
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                newPassword:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.passwordResetResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/me/authentication/microsoftAuthenticatorMethods/{microsoftAuthenticatorAuthenticationMethod-id}/device/microsoft.graph.checkMemberGroups':
    post:
      tags:
        - me.Actions
      summary: Invoke action checkMemberGroups
      description: 'Check for membership in a specified list of group IDs, and return from that list those groups (identified by IDs) of which the specified user, group, service principal, organizational contact, device, or directory object is a member. This function is transitive. You can check up to a maximum of 20 groups per request. This function supports all groups provisioned in Azure AD. Because Microsoft 365 groups cannot contain other groups, membership in a Microsoft 365 group is always direct.'
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/directoryobject-checkmembergroups?view=graph-rest-1.0
      operationId: me.authentication.microsoftAuthenticatorMethods.device_checkMemberGroups
      parameters:
        - name: microsoftAuthenticatorAuthenticationMethod-id
          in: path
          description: 'key: id of microsoftAuthenticatorAuthenticationMethod'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: microsoftAuthenticatorAuthenticationMethod
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                groupIds:
                  type: array
                  items:
                    type: string
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: string
                  '@odata.nextLink':
                    type: string
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  '/me/authentication/microsoftAuthenticatorMethods/{microsoftAuthenticatorAuthenticationMethod-id}/device/microsoft.graph.checkMemberObjects':
    post:
      tags:
        - me.Actions
      summary: Invoke action checkMemberObjects
      operationId: me.authentication.microsoftAuthenticatorMethods.device_checkMemberObjects
      parameters:
        - name: microsoftAuthenticatorAuthenticationMethod-id
          in: path
          description: 'key: id of microsoftAuthenticatorAuthenticationMethod'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: microsoftAuthenticatorAuthenticationMethod
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                ids:
                  type: array
                  items:
                    type: string
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: string
                  '@odata.nextLink':
                    type: string
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  '/me/authentication/microsoftAuthenticatorMethods/{microsoftAuthenticatorAuthenticationMethod-id}/device/microsoft.graph.getMemberGroups':
    post:
      tags:
        - me.Actions
      summary: Invoke action getMemberGroups
      description: 'Return all the group IDs for the groups that the specified user, group, service principal, organizational contact, device, or directory object is a member of. This function is transitive.'
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/directoryobject-getmembergroups?view=graph-rest-1.0
      operationId: me.authentication.microsoftAuthenticatorMethods.device_getMemberGroups
      parameters:
        - name: microsoftAuthenticatorAuthenticationMethod-id
          in: path
          description: 'key: id of microsoftAuthenticatorAuthenticationMethod'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: microsoftAuthenticatorAuthenticationMethod
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                securityEnabledOnly:
                  type: boolean
                  default: false
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: string
                  '@odata.nextLink':
                    type: string
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  '/me/authentication/microsoftAuthenticatorMethods/{microsoftAuthenticatorAuthenticationMethod-id}/device/microsoft.graph.getMemberObjects':
    post:
      tags:
        - me.Actions
      summary: Invoke action getMemberObjects
      description: 'Return all IDs for the groups, administrative units, and directory roles that a user, group, service principal, organizational contact, device, or directory object is a member of. This function is transitive. **Note:** Only users and role-enabled groups can be members of directory roles.'
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/directoryobject-getmemberobjects?view=graph-rest-1.0
      operationId: me.authentication.microsoftAuthenticatorMethods.device_getMemberObjects
      parameters:
        - name: microsoftAuthenticatorAuthenticationMethod-id
          in: path
          description: 'key: id of microsoftAuthenticatorAuthenticationMethod'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: microsoftAuthenticatorAuthenticationMethod
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                securityEnabledOnly:
                  type: boolean
                  default: false
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: string
                  '@odata.nextLink':
                    type: string
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  '/me/authentication/microsoftAuthenticatorMethods/{microsoftAuthenticatorAuthenticationMethod-id}/device/microsoft.graph.restore':
    post:
      tags:
        - me.Actions
      summary: Invoke action restore
      description: 'Restore a recently deleted application, group, servicePrincipal, administrative unit, or user object from deleted items. If an item was accidentally deleted, you can fully restore the item. This is not applicable to security groups, which are deleted permanently. A recently deleted item will remain available for up to 30 days. After 30 days, the item is permanently deleted.'
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/directory-deleteditems-restore?view=graph-rest-1.0
      operationId: me.authentication.microsoftAuthenticatorMethods.device_restore
      parameters:
        - name: microsoftAuthenticatorAuthenticationMethod-id
          in: path
          description: 'key: id of microsoftAuthenticatorAuthenticationMethod'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: microsoftAuthenticatorAuthenticationMethod
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/me/authentication/phoneMethods/{phoneAuthenticationMethod-id}/microsoft.graph.disableSmsSignIn':
    post:
      tags:
        - me.Actions
      summary: Invoke action disableSmsSignIn
      description: 'Disable SMS sign-in for an existing `mobile` phone number registered to a user. The number will no longer be available for SMS sign-in, which can prevent your user from signing in.'
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/phoneauthenticationmethod-disablesmssignin?view=graph-rest-1.0
      operationId: me.authentication.phoneMethods_disableSmsSignIn
      parameters:
        - name: phoneAuthenticationMethod-id
          in: path
          description: 'key: id of phoneAuthenticationMethod'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: phoneAuthenticationMethod
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/me/authentication/phoneMethods/{phoneAuthenticationMethod-id}/microsoft.graph.enableSmsSignIn':
    post:
      tags:
        - me.Actions
      summary: Invoke action enableSmsSignIn
      description: 'Enable SMS sign-in for an existing `mobile` phone number registered to a user. To be successfully enabled:'
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/phoneauthenticationmethod-enablesmssignin?view=graph-rest-1.0
      operationId: me.authentication.phoneMethods_enableSmsSignIn
      parameters:
        - name: phoneAuthenticationMethod-id
          in: path
          description: 'key: id of phoneAuthenticationMethod'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: phoneAuthenticationMethod
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/me/authentication/windowsHelloForBusinessMethods/{windowsHelloForBusinessAuthenticationMethod-id}/device/microsoft.graph.checkMemberGroups':
    post:
      tags:
        - me.Actions
      summary: Invoke action checkMemberGroups
      description: 'Check for membership in a specified list of group IDs, and return from that list those groups (identified by IDs) of which the specified user, group, service principal, organizational contact, device, or directory object is a member. This function is transitive. You can check up to a maximum of 20 groups per request. This function supports all groups provisioned in Azure AD. Because Microsoft 365 groups cannot contain other groups, membership in a Microsoft 365 group is always direct.'
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/directoryobject-checkmembergroups?view=graph-rest-1.0
      operationId: me.authentication.windowsHelloForBusinessMethods.device_checkMemberGroups
      parameters:
        - name: windowsHelloForBusinessAuthenticationMethod-id
          in: path
          description: 'key: id of windowsHelloForBusinessAuthenticationMethod'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: windowsHelloForBusinessAuthenticationMethod
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                groupIds:
                  type: array
                  items:
                    type: string
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: string
                  '@odata.nextLink':
                    type: string
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  '/me/authentication/windowsHelloForBusinessMethods/{windowsHelloForBusinessAuthenticationMethod-id}/device/microsoft.graph.checkMemberObjects':
    post:
      tags:
        - me.Actions
      summary: Invoke action checkMemberObjects
      operationId: me.authentication.windowsHelloForBusinessMethods.device_checkMemberObjects
      parameters:
        - name: windowsHelloForBusinessAuthenticationMethod-id
          in: path
          description: 'key: id of windowsHelloForBusinessAuthenticationMethod'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: windowsHelloForBusinessAuthenticationMethod
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                ids:
                  type: array
                  items:
                    type: string
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: string
                  '@odata.nextLink':
                    type: string
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  '/me/authentication/windowsHelloForBusinessMethods/{windowsHelloForBusinessAuthenticationMethod-id}/device/microsoft.graph.getMemberGroups':
    post:
      tags:
        - me.Actions
      summary: Invoke action getMemberGroups
      description: 'Return all the group IDs for the groups that the specified user, group, service principal, organizational contact, device, or directory object is a member of. This function is transitive.'
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/directoryobject-getmembergroups?view=graph-rest-1.0
      operationId: me.authentication.windowsHelloForBusinessMethods.device_getMemberGroups
      parameters:
        - name: windowsHelloForBusinessAuthenticationMethod-id
          in: path
          description: 'key: id of windowsHelloForBusinessAuthenticationMethod'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: windowsHelloForBusinessAuthenticationMethod
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                securityEnabledOnly:
                  type: boolean
                  default: false
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: string
                  '@odata.nextLink':
                    type: string
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  '/me/authentication/windowsHelloForBusinessMethods/{windowsHelloForBusinessAuthenticationMethod-id}/device/microsoft.graph.getMemberObjects':
    post:
      tags:
        - me.Actions
      summary: Invoke action getMemberObjects
      description: 'Return all IDs for the groups, administrative units, and directory roles that a user, group, service principal, organizational contact, device, or directory object is a member of. This function is transitive. **Note:** Only users and role-enabled groups can be members of directory roles.'
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/directoryobject-getmemberobjects?view=graph-rest-1.0
      operationId: me.authentication.windowsHelloForBusinessMethods.device_getMemberObjects
      parameters:
        - name: windowsHelloForBusinessAuthenticationMethod-id
          in: path
          description: 'key: id of windowsHelloForBusinessAuthenticationMethod'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: windowsHelloForBusinessAuthenticationMethod
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                securityEnabledOnly:
                  type: boolean
                  default: false
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: string
                  '@odata.nextLink':
                    type: string
                    nullable: true
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  '/me/authentication/windowsHelloForBusinessMethods/{windowsHelloForBusinessAuthenticationMethod-id}/device/microsoft.graph.restore':
    post:
      tags:
        - me.Actions
      summary: Invoke action restore
      description: 'Restore a recently deleted application, group, servicePrincipal, administrative unit, or user object from deleted items. If an item was accidentally deleted, you can fully restore the item. This is not applicable to security groups, which are deleted permanently. A recently deleted item will remain available for up to 30 days. After 30 days, the item is permanently deleted.'
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/directory-deleteditems-restore?view=graph-rest-1.0
      operationId: me.authentication.windowsHelloForBusinessMethods.device_restore
      parameters:
        - name: windowsHelloForBusinessAuthenticationMethod-id
          in: path
          description: 'key: id of windowsHelloForBusinessAuthenticationMethod'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: windowsHelloForBusinessAuthenticationMethod
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /me/calendar:
    get:
      tags:
        - me.calendar
      summary: Get calendar
      description: "Get the properties and relationships of a calendar object. The calendar can be one for a user, \nor the default calendar of a Microsoft 365 group. There are two scenarios where an app can get another user's calendar:"
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/calendar-get?view=graph-rest-1.0
      operationId: me_GetCalendar
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - allowedOnlineMeetingProviders
                - canEdit
                - canShare
                - canViewPrivateItems
                - changeKey
                - color
                - defaultOnlineMeetingProvider
                - hexColor
                - isDefaultCalendar
                - isRemovable
                - isTallyingResponses
                - name
                - owner
                - calendarPermissions
                - calendarView
                - events
                - multiValueExtendedProperties
                - singleValueExtendedProperties
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.calendar'
          links:
            calendarPermissions:
              operationId: me.Calendar.ListCalendarPermissions
            calendarView:
              operationId: me.Calendar.ListCalendarView
            events:
              operationId: me.Calendar.ListEvents
            multiValueExtendedProperties:
              operationId: me.Calendar.ListMultiValueExtendedProperties
            singleValueExtendedProperties:
              operationId: me.Calendar.ListSingleValueExtendedProperties
            allowedCalendarSharingRoles:
              operationId: me.calendar.allowedCalendarSharingRoles
            getSchedule:
              operationId: me.calendar.getSchedule
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - me.calendar
      summary: Update calendar
      description: "Update the properties of a calendar object. The calendar can be one for a user, \nor the default calendar of a Microsoft 365 group."
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/calendar-update?view=graph-rest-1.0
      operationId: me_UpdateCalendar
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.calendar'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /me/calendar/calendarPermissions:
    get:
      tags:
        - me.calendar
      summary: Get calendarPermissions from me
      description: The permissions of the users with whom the calendar is shared.
      operationId: me.calendar_ListCalendarPermissions
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - allowedRoles
                - allowedRoles desc
                - emailAddress
                - emailAddress desc
                - isInsideOrganization
                - isInsideOrganization desc
                - isRemovable
                - isRemovable desc
                - role
                - role desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - allowedRoles
                - emailAddress
                - isInsideOrganization
                - isRemovable
                - role
              type: string
      responses:
        '200':
          $ref: '#/components/responses/microsoft.graph.calendarPermissionCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - me.calendar
      summary: Create calendarPermission
      description: Create a calendarPermission resource to specify the identity and role of the user with whom the specified calendar is being shared or delegated.
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/calendar-post-calendarpermissions?view=graph-rest-1.0
      operationId: me.calendar_CreateCalendarPermissions
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.calendarPermission'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.calendarPermission'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/me/calendar/calendarPermissions/{calendarPermission-id}':
    get:
      tags:
        - me.calendar
      summary: Get calendarPermissions from me
      description: The permissions of the users with whom the calendar is shared.
      operationId: me.calendar_GetCalendarPermissions
      parameters:
        - name: calendarPermission-id
          in: path
          description: 'key: id of calendarPermission'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: calendarPermission
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - allowedRoles
                - emailAddress
                - isInsideOrganization
                - isRemovable
                - role
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.calendarPermission'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - me.calendar
      summary: Update the navigation property calendarPermissions in me
      operationId: me.calendar_UpdateCalendarPermissions
      parameters:
        - name: calendarPermission-id
          in: path
          description: 'key: id of calendarPermission'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: calendarPermission
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.calendarPermission'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - me.calendar
      summary: Delete navigation property calendarPermissions for me
      operationId: me.calendar_DeleteCalendarPermissions
      parameters:
        - name: calendarPermission-id
          in: path
          description: 'key: id of calendarPermission'
          required: true
          style: simple
          schema:
            type: string
          x-ms-docs-key-type: calendarPermission
        - name: If-Match
          in: header
          description: ETag
          style: simple
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /me/calendar/calendarView:
    get:
      tags:
        - me.calendar
      summary: Get calendarView from me
      description: The calendar view for the calendar. Navigation property. Read-only.
      externalDocs:
        description: Find more info here
        url: https://docs.microsoft.com/graph/api/calendar-list-calendarview?view=graph-rest-1.0
      operationId: me.calendar_ListCalendarView
      parameters:
        - name: startDateTime
          in: query
          description: 'The start date and time of the time range, represented in ISO 8601 format. For example, 2019-11-08T19:00:00-08:00'
          required: true
          style: form
          explode: false
          schema:
            type: string
        - name: endDateTime
          in: query
          description: 'The end date and time of the time range, represented in ISO 8601 format. For example, 2019-11-08T20:00:00-08:00'
          required: true
          style: form
          explode: false
          schema:
            type: string
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - categories
                - categories desc
                - changeKey
                - changeKey desc
                - createdDateTime
                - createdDateTime desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - allowNewTimeProposals
                - allowNewTimeProposals desc
                - attendees
                - attendees desc
                - body
                - body desc
                - bodyPreview
                - bodyPreview desc
                - end
                - end desc
                - hasAttachments
                - hasAttachments desc
                - hideAttendees
                - hideAttendees desc
                - iCalUId
                - iCalUId desc
                - importance
                - importance desc
                - isAllDay
                - isAllDay desc
                - isCancelled
                - isCancelled desc
                - isDraft
                - isDraft desc
                - isOnlineMeeting
                - isOnlineMeeting desc
                - isOrganizer
                - isOrganizer desc
                - isReminderOn
                - isReminderOn desc
                - location
                - location desc
                - locations
                - locations desc
                - onlineMeeting
                - onlineMeeting desc
                - onlineMeetingProvider
                - onlineMeetingProvider desc
                - onlineMeetingUrl
                - onlineMeetingUrl desc
                - organizer
                - organizer desc
                - originalEndTimeZone
                - originalEndTimeZone desc
                - originalStart
                - originalStart desc
                - originalStartTimeZone
                - originalStartTimeZone desc
                - recurrence
                - recurrence desc
                - reminderMinutesBeforeStart
                - reminderMinutesBeforeStart desc
                - responseRequested
                - responseRequested desc
                - responseStatus
                - responseStatus desc
                - sensitivity
                - sensitivity desc
                - seriesMasterId
                - seriesMasterId desc
                - showAs
                - showAs desc
                - start
                - start desc
                - subject
                - subject desc
                - transactionId
                - transactionId desc
                - type
                - type desc
                - webLink
                - webLink desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - categories
                - changeKey
                - createdDateTime
                - lastModifiedDateTime
                - allowNewTimeProposals
                - attendees
                - body
                - bodyPreview
                - end
                - hasAttachments
                - hideAttendees
                - iCalUId
                - importance
                - isAllDay
                - isCancelled
                - isDraft
                - isOnlineMeeting
                - isOrganizer
                - isReminderOn
                - location
                - locations
                - onlineMeeting
                - onlineMeetingProvider
                - onlineMeetingUrl
                - organizer
[...]
