RestClients:
  #This OData service is located at https://graph.microsoft.com/v1.0
  Microsoft 365 (Partial Graph API):
    UUID: 007036dc-72d1-429f-88a7-ba5d5cf5ae58
    Url: https://graph.microsoft.com/v1.0/
    Icon: res:/webContent/icons/microsoft.png
    Features:
    - ch.ivyteam.ivy.rest.client.mapper.JsonFeature
    - com.microsoft.auth.OAuth2Feature
    Properties:
      AUTH.scope: ${ivy.var.microsoftConnector.permissions}
      AUTH.baseUri: https://login.microsoftonline.com/${ivy.var.microsoftConnector.tenantId}/oauth2/v2.0
      jersey.client.connectorProvider: ${ivy.var.microsoftConnector.connectorProvider}
      JSON.Serialization.PROPERTY_INCLUSION: NON_NULL
      AUTH.appId: ${ivy.var.microsoftConnector.appId}
      AUTH.secretKey: ${decrypt:Ni3pyfsLUXTh5fGCzcdsSk00hVOkD3CmC4ON9ZoRS+1F6/Wxnc8W2RrnGbixeVog}
      AUTH.useAppPermissions: ${ivy.var.microsoftConnector.useAppPermissions}
      AUTH.useUserPassFlow: ${ivy.var.microsoftConnector.useUserPassFlow.enabled}
      AUTH.user: ${ivy.var.microsoftConnector.useUserPassFlow.user}
      AUTH.password: ${ivy.var.microsoftConnector.useUserPassFlow.pass}
    OpenAPI:
      SpecUrl: https://graphexplorerapi.azurewebsites.net/openapi?tags=me.user,me.calendar,users.calendar,me.message,me.Actions,me.todo,me.site,sites.Actions,me.drive,me.chat,chats.chat,chats.chatMessage&openApiVersion=3&graphVersion=v1.0&format=yaml&style=PowerShell
      Namespace: com.microsoft.graph
